<div class="home mt-5">
    <div class="row">
        <div class="col-lg-8">
            <div class="hero-text">
                <h2>
                    Abrimos sua empresa na Capital e <br>
                    Interior de São Paulo com rapidez e 
                    segurança.
                </h2>
            </div>
            <div class="hero-text-confirm">
                <div class="text">
                        <p>Nossa empresa se compromete a contar com profissionais altamente capacitados e adotar procedimentos que busquem constantemente a modernização e a globalização de nossos serviços.</p>
                </div>
            </div>

            <!-- <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="title">
                            <p>Abertura e encerramento de empresas</p>
                        </div>
                        <p>
                            Empresa 100% regularizada com mínimo de imposto
                            Cuidamos de todo o processo e te orientamos quanto à documentação 
                        </p>
                        <div class="link">
                            <a href="#">Abir ou fechar empresa</a>
                            <i class='bx bx-right-arrow-alt'></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="title">
                            <p>Abertura e encerramento de empresas</p>
                        </div>
                        <p>
                            Empresa 100% regularizada com mínimo de imposto
                            Cuidamos de todo o processo e te orientamos quanto à documentação 
                        </p>
                        <div class="link">
                            <a href="#">Abir ou fechar empresa</a>
                            <i class='bx bx-right-arrow-alt'></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="title">
                            <p>Abertura e encerramento de empresas</p>
                        </div>
                        <p>
                            Empresa 100% regularizada com mínimo de imposto
                            Cuidamos de todo o processo e te orientamos quanto à documentação 
                        </p>
                        <div class="link">
                            <a href="#">Abir ou fechar empresa</a>
                            <i class='bx bx-right-arrow-alt'></i>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="hero-text-btn">
                <!-- <button>Saiba mais...</button> -->
                <div class="whatsap">
                        <a href="">
                            <i class='bx bxl-whatsapp'></i>
                        </a>
                </div>
                <div class="instragram">
                    <a href="">
                        <i class='bx bxl-instagram' ></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="imagem">
                <!-- <img src="/assets/source/35242.jpg" alt="">  -->
            </div>
        </div>
    </div>
</div>

<!-- quem somos?  -->
<div class="row mt-5">
    <div class="quem-somos col-lg-12">
            <div class="title">
                <p>Soluções para o seu negócio! <br> O que você precisa?</p>
                <div></div>
            </div>
            <div class="content">
               <p>
                Olá!
                Estamos passando por uma fase de mudanças, mas queremos assegurar que estamos disponíveis em todos os nossos canais para oferecer um atendimento excepcional a você! Não perca tempo, basta clicar e nos informar suas necessidades. Estamos prontos para te atender.
                Enfrentando problemas com contabilidade? Preocupado com impostos elevados? Deseja informações sobre o MEI? Precisa de ajuda com alterações, regularizações ou baixas? Ou talvez precise de serviços relacionados à segurança do trabalho, como PGR ou PCMSO? Estamos aqui para ajudar! Clique e converse diretamente com nosso especialista.
                Nossos serviços abrangem diversas áreas, incluindo: <br>
                - Serviços Contábeis, atendendo a todas as suas demandas; <br>
                - Serviços em Segurança do Trabalho, cumprindo todas as normas regulamentadoras; <br>
                - Oferecemos Certificado Digital, tudo de forma conveniente, sem precisar sair de sua casa ou escritório; <br>
                - Se você possui um imóvel e quer vender ou colocá-lo para alugar, ou até mesmo precisa de assistência para elaborar um contrato de aluguel, conte conosco para cuidar de tudo. <br>
                - Em breve, também disponibilizaremos assessoria jurídica para auxiliá-lo em questões legais. <br>
                Estamos empenhados em fornecer um serviço de alta qualidade e estamos ansiosos para atendê-lo de forma eficiente e confiável. Não hesite em entrar em contato conosco através dos nossos canais de comunicação. <br>
                Agradecemos a confiança em nossa empresa e esperamos ser a solução para suas necessidades. <br>
                Atenciosamente,
                [Leandro/Lugar Dos Negócios]
               </p>
            </div>
    </div>
    <!-- <div class="col-lg-5">
        <div class="imagem-quem-somos">
            <img src="/assets/source/OBJECTS.png" alt="">
        </div>
    </div> -->
</div>