<div class="home mt-5">
    <div class="row">
        <div class="col-lg-9">
            <div class="hero-text">
                <h2>
                    Abrimos sua empresa na Capital e <br>
                    Interior de São Paulo com rapidez e <br>
                    segurança.
                </h2>
            </div>
            <div class="hero-text-confirm">
                <div class="text">
                    <div class="img">
                        <img src="/assets/icons/Done.png" alt="">
                    </div>
                    <div class="text-img">
                        <p>Planos de acordo com a sua preferência</p>
                    </div>
                </div>
                <div class="text">
                    <img src="/assets/icons/Done.png" alt="">
                    <p>Certidões junto à receita federal</p>
                </div>
                <div class="text">
                    <img src="/assets/icons/Done.png" alt="">
                    <p>Regularização de pendências: como débito, certidões, atendimento a fiscalizações e intimações, alterações e baixa de empresas em geral</p>
                </div>
                <div class="text">
                    <img src="/assets/icons/Done.png" alt="">
                    <p>Você pode ser atendido: por telefone, WhatsApp, ou e-mail</p>
                </div>

            </div>
            <div class="hero-text-btn">
                <button>Saiba mais...</button>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="imagem">
                <img src="/assets/source/persona.png" alt="">
            </div>
        </div>
    </div>
</div>