<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <div class="logo">
        <a class="navbar-brand" href="#">Lugar Dos Negócios</a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a routerLink="home" class="nav-link" aria-current="page" href="#">Home</a>
          <a routerLink="departamento-fiscal" class="nav-link" href="#">Departamento Fiscal</a>
          <a routerLink="departamento-pessoal" class="nav-link" href="#">Departamento Pessoal</a>
          <a routerLink="contabilidade" class="nav-link" href="#">Contabilidade</a>
          <a routerLink="administracao" class="nav-link" href="#">Administração</a>
          <a routerLink="papelaria" class="nav-link" href="#">Papelaria</a>
        </div>
      </div>
    </div>
  </nav>
  
  